@font-face {
  font-family: "Iran Sans Web";
  src: font-url("IRANSans/IRANSans-Bold-web.eot");
  src: font-url("IRANSans/IRANSans-Bold-web.eot") format("eot"), 
       font-url("IRANSans/IRANSans-Bold-web.woff2") format("woff2"), 
       font-url("IRANSans/IRANSans-Bold-web.woff") format("woff"), 
       font-url("IRANSans/IRANSans-Bold-web.ttf") format("ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Iran Sans Web";
  src: font-url("IRANSans/IRANSans-Medium-web.eot");
  src: font-url("IRANSans/IRANSans-Medium-web.eot") format("eot"),
       font-url("IRANSans/IRANSans-Medium-web.woff2") format("woff2"),
       font-url("IRANSans/IRANSans-Medium-web.woff") format("woff"),
       font-url("IRANSans/IRANSans-Medium-web.ttf") format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Iran Sans Web";
  src: font-url("IRANSans/IRANSans-UltraLight-web.eot");
  src: font-url("IRANSans/IRANSans-UltraLight-web.eot") format("eot"),
       font-url("IRANSans/IRANSans-UltraLight-web.woff2") format("woff2"),
       font-url("IRANSans/IRANSans-UltraLight-web.woff") format("woff"),
       font-url("IRANSans/IRANSans-UltraLight-web.ttf") format("ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Iran Sans Web";
  src: font-url("IRANSans/IRANSans-Light-web.eot");
  src: font-url("IRANSans/IRANSans-Light-web.eot") format("eot"),
       font-url("IRANSans/IRANSans-Light-web.woff2") format("woff2"),
       font-url("IRANSans/IRANSans-Light-web.woff") format("woff"),
       font-url("IRANSans/IRANSans-Light-web.ttf") format("ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Iran Sans Web";
  src: font-url("IRANSans/IRANSans-web.eot");
  src: font-url("IRANSans/IRANSans-web.eot") format("eot"),
       font-url("IRANSans/IRANSans-web.woff2") format("woff2"),
       font-url("IRANSans/IRANSans-web.woff") format("woff"),
       font-url("IRANSans/IRANSans-web.ttf") format("ttf");
  font-weight: 400;
}