// fonts
$default-font: tahoma, arial, sans-serif;
$sans: "Iran Sans Web", #{$default-font};

$font-weight-300: 400;
$font-weight-400: 600;
$font-size: 13px;
$font-height: 26px;

$t: 7s;
$bg: #f8be40;
$sun: darken($bg, 35%);
